/* the styling of the magazine */

*,
::before,
 ::after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Baskervville, serif;
    color: linen;
    background-color: rgb(red, green, blue);
}